/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// navbar start
// logo
.navbar.default-menu{
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  min-height: 70px;
  background-color: #002E2E;
  border-bottom: 2px solid #0CB88E;
  box-shadow: 1px 1px 2px #333;
  -moz-box-shadow: 1px 1px 2px #333;
  -webkit-box-shadow: 1px 1px 2px #333;

  .logo_img {
      display: inline-block;
      margin-right: 10px;
      margin-left: 30px;
      width: 35px;
      height: 35px;
      margin-top: -6px
  }

  .default-logo {
      letter-spacing: 1px;
      line-height: 40px;
      margin-right: 15px;
  }
}

// dropdown
.default-menu .dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

.default-menu .dropdown-menu > li > a {
    color: #000;
    padding: 8px 17px;
    font-size: 14px;
    letter-spacing: 1px;
}

.dropdown-menu > li > a:hover {
    background-color: #B6C9F2;
    color: #000;
}

.btn.btn-default.navbar-btn{
    color: #000;
    margin-top: 16px;
    border-radius: 4px;
    padding: 8px 25px;
    border: 1px solid #eee;
    margin-left: 10px;
}

.btn.btn-default.navbar-btn:hover{
    color: #fff;
    background-color: #4A6BB5;
    border-color: #4A6BB5;
}

// navbar end

// footer start
.footer{
  text-align: center;
  min-height: 250px;
  background-color: #002E2E;
  padding: 15px 0;
  color: #fff;

  h4{
      font-size: 16px;
      margin-top: 25px;
      margin-bottom: 15px;
  }

  p{
      font-size: 14px;
  }

  li{
    margin-top: 5px;
  }

  a{
    text-decoration:none;
    color: #ccc;
  }
  a:hover,
  a:active,
  a:focus{
    color: #4A6BB5;
  }

  p{
    a{
      color: #4A6BB5;
    }
    a:hover{
      color: #35CCC6;
    }
  }
}
// footer end
