<header id="home" data-spy="scroll" data-target="#top-nav">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <!-- Logo -->
            <%= link_to root_path, class: "navbar-brand default-logo scroll" do %>
              <%= image_tag("logo.png", :class => "logo_img") %> 职赢网
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
